---
import BaseHead from '../components/Head/BaseHead.astro';
import Nav from '../components/Nav.astro';
import HomeHeader from '../components/HomeHeader.astro';
import Card from '../components/Card.astro';
import Footer from '../components/Footer/Footer.astro'
interface MarkdownFrontmatter {
  date: number;
}

const title = 'MVPZERO เว็บพนันออนไลน์เว็บตรง สมัครรับโปรโมชั่นจุกๆได้ที่นี่';
const description = 'สมัครวันนี้รับไปเลย ฝาก100 รับ 150 กับสมาชิกหน้าใหม่';
const seoDescription = 'เล่นกับเว็บพนันออนไลน์ที่ดีสุด ราคาน้ำเริ่ดสุดและคุ้มค่า รับทั้งวอเลทและธนาคารต้องที่นี่เลย';
const allPosts = await Astro.glob<MarkdownFrontmatter>('./posts/*.md');
const sortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf());
---

<html lang="TH">

<head>
  
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://mvpzero.org/"
      },
      "headline": "MVPZERO เว็บพนันออนไลน์เว็บตรง สมัครรับโปรโมชั่นจุกๆได้ที่นี่ 2023",
      "image": "https://i.postimg.cc/fbwGKjwy/08.jpg",  
      "keywords": "เว็บพนันออนไลน์เว็บตรง",    
      "InLanguage": "TH",    

      "description": "เล่นกับเว็บพนันออนไลน์ที่ดีสุด ราคาน้ำเริ่ดสุดและคุ้มค่า รับทั้งวอเลทและธนาคารต้องที่นี่เลย",  
      "author": {
        "@type": "Person",
        "name": "southblade"
      },  
      "publisher": {
        "@type": "Organization",
        "name": "",
        "logo": {
          "@type": "ImageObject",
          "url": ""
        }
      },
      "datePublished": "2023-01-06"
    }
    
    </script>
    <meta charset="utf-8" />
    <meta name="viewport:" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="DdEgye0t2Tti9nJ6Fwq7q3NR_zpsdq5FfBW_72YqY7Q" />
  <meta name="google-site-verification" content="ii-nK78Ay8s-VyYSKAA5khRuHqG98bfCWnVo27Z7WlA" />
  <BaseHead title={title} description={seoDescription} />
  <meta name="robots" content= "index, follow, max-snippet:-1, max-video-preview:-1, max-image-preview:large" />
  <link rel="canonical" href="https://mvpzero.org/" />
</head>

<body class="bg-white text-black font-body leading-normal personality-casual">
  <Nav />

  <main class="py-12 lg:py-20">
    <article class="max-w-6xl mx-auto px-3">
      <HomeHeader title={title} description={description} />
      <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 py-8" data-test="articles-section">
        {sortedPosts.map(p => <div class="col-span-1">
          <Card post={p} />
        </div>)}
      </section>
    </article>
  </main>

  <section class="flex space-x-8 justify-center text-xl pt-8 font-bold">
    <a href="/posts" class="mr-8" data-test="see-all-link">
      See All<span class="squiggle">&rarr;</span>
    </a>
  </section>
  <script src="https://apps.elfsight.com/p/platform.js" defer></script>
  <div class="elfsight-app-22dbebde-641c-4627-906d-02171d60303d"></div>
  <Footer />
</body>

</html>

