---
import Nav from '../components/Nav.astro';
import BaseHead from '../components/Head/BaseHead.astro';
import BlogPost from '../components/BlogPost.astro';

const {content} = Astro.props;
const {title, description, date, hero, youtube} = content;
---
<html lang={ content.lang || 'en' }>
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Nav />
    <main class="py-8 lg:py-8">
      <BlogPost title={title} hero={hero} date={date} youtube={youtube} >
        <slot />
      </BlogPost>
    </main>
  </body>
</html>

