---
import Nav from '../components/Nav.astro';
import BaseHead from '../components/Head/BaseHead.astro';
import BlogPost from '../components/BlogPost.astro';

const {content} = Astro.props;
const {title, description, date, hero, youtube} = content;
---
<html lang={ content.lang || 'TH' }>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <html>
    <head>
      <title>mvp - คำถามที่พบบ่อย(FAQ)</title>
      <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "FAQPage",
        "mainEntity": [{
          "@type": "Question",
          "name": "mvp เป็นเว็บพนันออนไลน์เว็บตรงไม่ผ่านเอเย่นต์ ใช่รึไม่",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "<p>ถูกต้อง. เว็บเราบริหารและรับเงินสนับสนุนจากCEOโดยตรง ฉะนั้นเล่นกับเรามั่นคง 100%</p>"
          }
        }, {
          "@type": "Question",
          "name": "mvp  มีบริการฝาก-ถอนอัตโนมัติผ่านธนาคารหรือทรูวอลเลทมั้ย",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "<p>แน่นอนครับ เว็บเราคำนึงถึงความสะดวกของผู้เล่นสูงสุด เว็บเราจึงเปิดให้บริการนักเดิมพันทุกท่านสามารถฝากถอนผ่านระบบอัตโนมัติ รองรับทุกธนาคารรวมถึงtrue wallet เงินจะเข้าบัญชีนักเดิมพันภายในไม่ถึง 30 วินาที</p>"
          }
        }, {
          "@type": "Question",
          "name": "สมัครเล่นเว็บพนัน mvp  อย่างไร",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "<p>มีขั้นตอนสมัครง่ายมาก เพียงคลิกลิงค์สมัครในบทความ แล้วกรอกรายละเอียดเลือกรับโปรโมชั่นผ่านหน้าเว็บได้เลย</p>"
          }
        }, {
          "@type": "Question",
          "name": "สมัครกับเรามีโปรโมชั่นเว็บอะไรบ้าง",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "เว็บเรามีเครดิตฟรีหรือจะรับเป็นแก้วเก็บความเย็นจัดส่งฟรี ขึ้นอยู่กับลูกค้าเลือกได้เลยตอนสมัครครั้งแรก"
          }
        }, 
      }
      </script>
    </head>
    <body>
    </body>
  </html>
  <body>
    <Nav />
    <main class="py-12 lg:py-20">
      <BlogPost title={title} hero={hero} date={date} youtube={youtube} >
        <slot />
      </BlogPost>
    </main>
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-22dbebde-641c-4627-906d-02171d60303d"></div>
  </body>
</html>

